.quienes-somos .quienes-somos-img .img-shop-uno:hover, .quienes-somos .quienes-somos-img .img-shop-dos:hover, .tipos-de-menu .mango-dos:hover, .tipos-de-menu .coconut-dos:hover {
  transform: scale(1.5);
  border: solid black;
  border-radius: 2%;
  transition: all .5s; }

body {
  font-family: 'Patrick Hand', cursive; }

/*HEADER*/
.portada header {
  background-image: url(../Multimedia/Imagen/granos.jpg);
  width: 100%; }
  .portada header .navbar-toggler-icon {
    background-color: black; }
  .portada header .logo {
    height: 135px;
    width: 150px; }
  .portada header .navbar-nav {
    margin-left: auto !important;
    margin-right: 2rem; }
    .portada header .navbar-nav .nav-link {
      list-style: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      font-size: 1.3rem;
      font-weight: normal;
      text-align: right; }

/*FOOTER*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 100px; }
  footer .logo-footer {
    height: 135px;
    width: 150px; }
  footer .footer-redes {
    padding: 00.5em 1em;
    text-align: center;
    margin: 10px 24px; }
    footer .footer-redes p {
      color: white; }
    footer .footer-redes .logo-ig:hover, footer .footer-redes .logo-tw:hover, footer .footer-redes .logo-fb:hover {
      border: solid white; }

/*MAIN index*/
.quienes-somos .quienes-somos-img .img-shop-uno:hover, .quienes-somos .quienes-somos-img .img-shop-dos:hover, .tipos-de-menu .mango-dos:hover, .tipos-de-menu .coconut-dos:hover {
  transform: scale(1.5);
  border: solid black;
  border-radius: 2%;
  transition: all .5s; }

.sobre-nosotros {
  text-align: center;
  grid-template-areas: 'nosotros-img' 'nosotros-txt';
  margin: 2rem auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: auto;
  margin-top: 2rem; }
  .sobre-nosotros .sobre-nosotros-img {
    margin-left: 10 auto;
    height: 100%;
    width: auto;
    grid-area: 'nosotros-img'; }
  .sobre-nosotros .sobre-nosotros-txt {
    margin-left: 3%;
    grid-area: 'nosotros-txt';
    place-content: center; }
    .sobre-nosotros .sobre-nosotros-txt h2 {
      font-size: 2.5rem;
      border-bottom: solid orange; }
    .sobre-nosotros .sobre-nosotros-txt p {
      font-size: 1rem;
      width: auto; }

.productos-famosos h2 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 30px;
  border-bottom: 7px solid orange;
  width: 40%;
  position: relative;
  left: 32%; }

.productos-famosos .productos-famosos-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  margin: 50px auto;
  gap: 6px;
  justify-content: space-around; }

.productos-famosos .caramel:hover, .productos-famosos .mango:hover, .productos-famosos .coconut:hover {
  transform: scale(2);
  border-radius: 45%;
  transition: all .5s; }

/*MAIN nosotros*/
.quienes-somos .quienes-somos-img .img-shop-uno:hover, .quienes-somos .quienes-somos-img .img-shop-dos:hover, .tipos-de-menu .mango-dos:hover, .tipos-de-menu .coconut-dos:hover {
  transform: scale(1.5);
  border: solid black;
  border-radius: 2%;
  transition: all .5s; }

.quienes-somos {
  grid-template-areas: 'titulo' 'texto' 'img-shops';
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.25fr 1fr 1fr;
  gap: 10px;
  margin-top: 4rem; }
  .quienes-somos h2 {
    grid-area: titulo;
    text-align: center;
    font-size: 220%;
    border-bottom: solid orange; }
  .quienes-somos .quienes-somos-img .img-shop-uno {
    height: 100%;
    width: 60%;
    grid-area: imagen; }
  .quienes-somos .quienes-somos-img .img-shop-dos {
    height: 100%;
    width: 60%;
    grid-area: imagen-dos; }
  .quienes-somos .img-shops {
    grid-area: img-shops; }
  .quienes-somos .quienes-somos p {
    grid-area: texto; }

/*MAIN menu*/
.quienes-somos .quienes-somos-img .img-shop-uno:hover, .quienes-somos .quienes-somos-img .img-shop-dos:hover, .tipos-de-menu .mango-dos:hover, .tipos-de-menu .coconut-dos:hover {
  transform: scale(1.5);
  border: solid black;
  border-radius: 2%;
  transition: all .5s; }

.menu-dos {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 220%;
  border-bottom: 7px solid orange;
  width: 40%;
  margin-bottom: 2rem;
  position: relative;
  left: 30%; }

.tipos-de-menu {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: .15fr .15fr .15fr .15fr 1fr;
  gap: 30px;
  grid-template-areas: 'cafeteria panes' 'cafeteria-p panes-p' 'especial especial' 'mango-p coconuts-p' 'mango coconut';
  justify-content: center; }
  .tipos-de-menu .cafeteria {
    grid-area: cafeteria;
    border-bottom: 2px solid orange; }
  .tipos-de-menu .cafeteria-p {
    grid-area: cafeteria-p; }
  .tipos-de-menu .pan {
    grid-area: panes;
    border-bottom: 2px solid orange; }
  .tipos-de-menu .pan-p {
    grid-area: panes-p; }
  .tipos-de-menu .especial {
    grid-area: especial;
    text-align: center;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange; }
  .tipos-de-menu .mango-p {
    grid-area: mango-p; }
  .tipos-de-menu .coconut-p {
    grid-area: coconuts-p; }
  .tipos-de-menu .mango-dos {
    width: 100%;
    grid-area: mango; }
  .tipos-de-menu .coconut-dos {
    width: 100%;
    grid-area: coconut; }

/*MAIN contactos*/
.contactar {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  border: 3px solid orange;
  padding: 40px auto; }
  .contactar .tipo-de-contacto {
    grid-area: tipo-c;
    text-align: center; }
  .contactar .mapa {
    grid-area: mapa; }

.titulo-contacto {
  text-align: center;
  margin: 2rem auto;
  border-bottom: 7px solid orange; }

@media only screen and (min-width: 550px) {
  .quienes-somos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.25fr 0.5fr 1fr;
    gap: 10px;
    margin-top: 4rem;
    grid-template-areas: 'titulo' 'texto' 'img-shops'; } }

@media only screen and (max-width: 992px) {
  .navbar-dark {
    background-color: black !important;
    z-index: 1; }
  .quienes-somos-img {
    display: none; }
  .mapa {
    display: none; } }

@media only screen and (min-width: 992px) {
  .sobre-nosotros {
    grid-template-areas: 'nosotros-img nosotros-txt';
    row-gap: 5rem; }
  .sobre-nosotros-txt {
    place-content: center; }
  .img-shops {
    display: none; }
  .quienes-somos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 35% 35%;
    gap: 10px;
    margin-top: 4rem;
    grid-template-areas: 'titulo titulo' 'imagen texto' 'imagen-dos texto'; }
  .contactar {
    grid-template-areas: 'tipo-c mapa';
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-top: none; } }
