body {
  font-family: 'Patrick Hand', cursive; }

/*HEADER*/
.portada header {
  background-image: url(../Multimedia/Imagen/granos.jpg);
  width: 100%; }
  .portada header .navbar-toggler-icon {
    background-color: black; }
  .portada header .logo {
    height: 135px;
    width: 150px; }
  .portada header .navbar-nav {
    margin-left: auto !important;
    margin-right: 2rem; }
    .portada header .navbar-nav .nav-link {
      list-style: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      font-size: 1.3rem;
      font-weight: normal;
      text-align: right; }

/*FOOTER*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 100px; }
  footer .logo-footer {
    height: 135px;
    width: 150px; }
  footer .footer-redes {
    padding: 00.5em 1em;
    text-align: center;
    margin: 10px 24px; }
    footer .footer-redes p {
      color: white; }
    footer .footer-redes .logo-ig:hover, footer .footer-redes .logo-tw:hover, footer .footer-redes .logo-fb:hover {
      border: solid white; }

/*MAIN index*/
.sobre-nosotros {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'nosotros-img' 'nosotros-txt';
  justify-content: space-around;
  margin: 2rem auto; }
  .sobre-nosotros .sobre-nosotros-img {
    margin-left: 10 auto;
    height: 100%;
    width: auto;
    grid-area: 'nosotros-img'; }
  .sobre-nosotros .sobre-nosotros-txt {
    margin-left: 3%;
    grid-area: 'nosotros-txt';
    place-content: center; }
    .sobre-nosotros .sobre-nosotros-txt h2 {
      font-size: 2.5em;
      border-bottom: solid orange; }
    .sobre-nosotros .sobre-nosotros-txt p {
      font-size: 1em;
      width: auto; }

.productos-famosos h2 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 30px;
  border-bottom: 7px solid orange;
  width: 40%;
  position: relative;
  left: 32%; }

.productos-famosos .productos-famosos-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  margin: 50px auto;
  gap: 6px;
  justify-content: space-around; }

.productos-famosos .caramel:hover, .productos-famosos .mango:hover, .productos-famosos .coconut:hover {
  transform: scale(2);
  border-radius: 45%;
  transition: all .5s; }

@media only screen and (min-width: 550px) {
  .quienes-somos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: .25fr .5fr 1fr;
    grid-template-areas: 'titulo' 'texto' 'img-shops';
    justify-content: center;
    gap: 10px;
    justify-content: center;
    margin-top: 4rem; } }

@media only screen and (max-width: 992px) {
  .navbar-dark {
    background-color: black !important;
    z-index: 1; }
  .quienes-somos-img {
    display: none; }
  .mapa {
    display: none; } }

@media only screen and (min-width: 992px) {
  .sobre-nosotros {
    grid-template-areas: 'nosotros-img nosotros-txt';
    row-gap: 5rem; }
  .sobre-nosotros-txt {
    place-content: center; }
  .img-shops {
    display: none; }
  .quienes-somos {
    grid-template-columns: auto;
    grid-template-rows: 20% 35% 35%;
    grid-template-areas: 'titulo titulo' 'imagen texto' 'imagen-dos texto';
    justify-content: space-around;
    gap: 10px;
    margin-top: 4rem; }
  .contactar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'tipo-c mapa';
    gap: 30px;
    place-content: center;
    padding: 40px; } }
