@import 'base/variables';
@import 'base/extends';
@import 'base/mixins';
body {
    font-family: 'Patrick Hand', cursive;
}
/*HEADER*/
@import 'components/header';
/*FOOTER*/
@import 'components/footer';
/*MAIN index*/
@import'components/index';
/*MAIN nosotros*/
@import 'components/nosotros';
/*MAIN menu*/
@import 'components/menu';
/*MAIN contactos*/
@import 'components/contactos';





@media only screen and (min-width: 550px){
    .quienes-somos {
        @include grid (auto,.25fr .5fr 1fr, 10px, center, 4rem);
        grid-template-areas:
        'titulo'
        'texto'
        'img-shops';
        
    }
}
@media only screen and (max-width: 992px){
    .navbar-dark{
        background-color: $bg-color !important;
        z-index: 1;}
    .quienes-somos-img{display: none;}
    .mapa{display: none;}   
}
@media only screen and (min-width: 992px){
    .sobre-nosotros{
        grid-template-areas: 'nosotros-img nosotros-txt';
        row-gap: 5rem;
    }
    .sobre-nosotros-txt {
        place-content: center;
    }
    .img-shops {
        display: none;
    }
    .quienes-somos {
        @include grid (auto,20% 35% 35%, 10px, center, 4rem);
        grid-template-areas:
        'titulo titulo'
        'imagen texto'
        'imagen-dos texto';
    }
    .contactar {
        grid-template-areas: 
        'tipo-c mapa';
        padding: 40px;
        @include grid (1fr 1fr,1fr, 30px, center, none);
    }
    .biografia {
        margin: auto 6rem;
      }
}
