@import '../base/variables';

.sobre-nosotros {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'nosotros-img' 'nosotros-txt';
    justify-content: space-around;
    margin: 2rem auto;
    .sobre-nosotros-img {
        margin-left: 10 auto;
        height: $img-size;
        width: auto;
        grid-area: 'nosotros-img';
        
    }
    .sobre-nosotros-txt{
        margin-left: 3%;
        grid-area: 'nosotros-txt';
        place-content: center;
        h2 {
            font-size: 2.5em;
            border-bottom:  $border-bottom;
        }
        p {
            font-size: 1em;
            width: auto;
        }
    }
}

.productos-famosos{
    h2 {
        text-align: center;
        margin-top: 4em;
        margin-bottom: 30px;
        border-bottom: 7px $border-bottom;
        width: 40%;
        position: relative;
        left: 32%;
    }
    .productos-famosos-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
        width: 80%;
        margin: 50px auto;
        gap: 6px;
        justify-content: space-around;
    }
    .caramel:hover, .mango:hover, .coconut:hover {
        transform: scale(2);
        border-radius: 45%;
        transition: all .5s;
    }
}




