@import '../base/variables';
@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';

h1 {
    display: flex;
    justify-content: center;
    font-size: 250%;
    @include border-bot (7px solid orange);
    margin: 4rem;
    padding: 10px;
}

.sobre-nosotros {
    text-align: center;
    grid-template-areas: 'nosotros-img' 'nosotros-txt';
    margin: 2rem auto;
    @include grid (auto, auto, auto, space-around, 2rem);
    
    .sobre-nosotros-img {
        margin-left: 10 auto;
        height: nth($list: $img-size, $n: 1);
        width: auto;
        grid-area: 'nosotros-img';
        
    }
    .sobre-nosotros-txt{
        margin-left: 3%;
        grid-area: 'nosotros-txt';
        place-content: center;
        h2 {
            font-size: nth($list: $txt-size, $n: 3);
            border-bottom:  $border-bottom;
        }
        p {
            font-size: nth($list: $txt-size, $n: 1);
            width: auto;
        }
    }
}

#productos-famosos{
    h2 {
        text-align: center;
        margin-top: 4em;
        margin-bottom: 30px;
        @include border-bot(7px solid orange);
        width: 40%;
        position: relative;
        left: 32%;
    }
    .productos-famosos-img {
        @include grid (1fr 1fr 1fr, 1fr, 6px, space-around, none);
        width: nth($list: $img-size, $n: 2);
        margin: 50px auto;
    }
    .caramel:hover, .mango:hover, .coconut:hover {
        transform: scale(2);
        border-radius: 45%;
        transition: all .5s;
    }
}




