@import '../base/variables';
@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';



.menu-dos {
    display: flex;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    font-size: nth($list: $txt-size, $n: 4);
    @include border-bot(7px solid orange);
    width: 40%;
    margin: 2rem auto;
       
}
.tipos-de-menu {
    grid-template-areas:
    'cafeteria panes'
    'cafeteria-p panes-p'
    'especial especial'
    'mango-p coconuts-p'
    'mango coconut';
    @include grid (35% 35%, .15fr .15fr .15fr .15fr 1fr, 30px, center, 1px);
    margin: 2rem;
    .cafeteria {
        grid-area: cafeteria;
        @include border-bot(2px solid orange);
    }
    .cafeteria-p {
        grid-area: cafeteria-p;
    }
    .pan {
        grid-area: panes;
        @include border-bot(2px solid orange);
    }
    .pan-p {
        grid-area: panes-p;
    }
    .especial {
        grid-area: especial;
        text-align: center;
        border-top: 2px $border-bottom;
        @include border-bot(2px solid orange);
    }
    .mango-p {
        grid-area: mango-p;
        
    }
    .coconut-p {
        grid-area: coconuts-p;
        
    }
    .mango-dos {
        
        width: nth($list: $img-size, $n: 1);
        grid-area: mango;
        &:hover {
            @extend %hover;
        }
    } 
    .coconut-dos {
        
        width: nth($list: $img-size, $n: 1);
        grid-area: coconut;
        &:hover {
            @extend %hover;
        }
    }
}

